@{
    ViewData["Title"] = "Confirmar correo electrónico";
}

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" model="@("Gracias por confirmar tu email.")" />
            </div>
        </div>
    </div>
</section>
