@{
    ViewData["Title"] = "Bloqueado";
}
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
            </div>

            <div class="col-lg-12 lead">
                <p>Esta cuenta se ha bloqueado debido a múltiples intentos de inicio de sesión no válidos. Por favor, inténtelo de nuevo más tarde.</p>
            </div>

        </div>
    </div>
</section>
