@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
}

<h2>@ViewData["Title"]</h2>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                Tu contraseña ha sido restablecida. Por favor <a asp-action="Login">haga clic aquí para ingresar</a>.
            </div>
        </div>
    </div>
</section>
