@{
    ViewData["Title"] = "Home Page";
    ViewBag.AlwaysShrinkNavBar = false;
}


<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1>Bienvenido a BANEXCOINPAY</h1>
            <hr />
            <p>BANEXCOINPAY es un servicio para comercios que deseen aceptar bitcoins en sus negocios.</p>
            <a style="background-color: #ccc;color: #222;display:inline-block;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;line-height: 1.25;font-size: 1rem;text-decoration:none;font-weight: 700;    text-transform: uppercase;border: none;border-radius: 300px;padding: 15px 30px;" href="http://banexcoin.com/wordpress/" target="_blank">SITIO OFICIAL</a>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Un método de pago para Bitcoin</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/lock-logo.png" />
                    <h3 class="text-dark">Seguro</h3>
                    <p class="text-muted">El servidor de pago no necesita saber tus claves privadas, por lo que tu dinero no puede ser robado.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/qr-logo.png" />
                    <h3 class="text-dark">Fácil</h3>
                    <p class="text-muted">Una página de pago de Bitcoin fácil de usar para sus clientes.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="~/img/money-logo.png" />
                    <h3 class="text-dark">Visibilidad</h3>
                    <p class="text-muted">Gestione, genere informes y busque sus facturas fácilmente.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <h2>Video tutorials</h2>
        <div class="row">
            <div class="col-md-2 text-center">
            </div>
            <div class="col-md-8 text-center">
                <a href="https://www.youtube.com/channel/UCpG9WL6TJuoNfFVkaDMp9ug" target="_blank">
                    <img src="/img/youtube.png" class="img-fluid" />
                </a>
            </div>
            <div class="col-md-2 text-center">
            </div>
        </div>
    </div>
</div>-->



<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Gracias especiales</h2>
                <hr class="primary">
                <p>Gracias a los negocios que confiaron en nosotros.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mr-auto text-center">
                <a href="#">
                    <img src="~/img/logo-original.png" height="100" />
                </a>
                <p>
                    <a href="#">test1</a>
                </p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <a href="#">
                    <img src="~/img/logo-original.png" height="100" />
                </a>
                <p><a href="#">test2</a></p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="#">
                    <img src="~/img/logo-original.png" height="100" />
                </a>
                <p>
                    <a href="#">test3</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!--<div class="call-to-action bg-dark text-white">
    <div class="container text-center">
        <h2>Donate</h2>
        <p>Donation to this address will be reinvested into the development of this tool</p>
        <p><img src="~/img/donation.jpg"></p>
        <p>3BpfdkF93GwFRWdrAN3SNsRAsi6d158YQi</p>
    </div>
</div>-->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Mantengámonos en contacto!</h2>
                <hr class="primary">
                <p>
                    Ven y ponte en contacto con nosotros!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ml-auto text-center">
                <a href="https://www.facebook.com/Banexcoin-SA-1966167210356313/"  target="_blank">
                    <img src="~/img/facebook.png" height="100" />
                </a>
                <p><a href="https://www.facebook.com/Banexcoin-SA-1966167210356313/"  target="_blank">Facebook</a></p>
            </div>
            <div class="col-lg-3 ml-auto text-center" style="left: -29px;">
                <a href="https://www.instagram.com/banexcoin"  target="_blank">
                    <img src="~/img/instagram.png" height="100" />
                </a>
                <p><a href="https://www.instagram.com/banexcoin" target="_blank">Instagram</a></p>
            </div>
            <div class="col-lg-3 mr-auto text-center">
                <a href="https://twitter.com/banexcoin" target="_blank">
                    <img src="~/img/twitter.png" height="100" />
                </a>
                <p>
                    <a href="https://twitter.com/banexcoin" target="_blank">Twitter</a>
                </p>
            </div>
            <!--<div class="col-lg-3 mr-auto text-center">
                <a href="https://github.com/btcpayserver/btcpayserver" target="_blank">
                    <img src="~/img/youtube.png" height="100" />
                </a>
                <p>
                    <a href="https://github.com/btcpayserver/btcpayserver" target="_blank">Youtube</a>
                </p>
            </div>-->
        </div>
    </div>
</section>
