@model BTCPayServer.Services.ThemeSettings
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Theme);
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="@TempData["StatusMessage"]" />
<div class="row">
    <div class="col-lg-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="BootstrapCssUri"></label>
                <a href="https://docs.btcpayserver.org/development/theme#bootstrap-themes" target="_blank"><span class="fa fa-question-circle-o" title="Más información..."></span></a>
                <input asp-for="BootstrapCssUri" class="form-control" />
                <span asp-validation-for="BootstrapCssUri" class="text-danger"></span>
                <p class="form-text text-muted">
                    <a href="https://bootstrap.build/app/v4.0/" target="_blank">Construye tu propio tema</a>
                    o <a href="https://bootswatch.com/" target="_blank">elige uno ya hecho</a>
                </p>
            </div>
            <div class="form-group">
                <label asp-for="CreativeStartCssUri"></label>
                <input asp-for="CreativeStartCssUri" class="form-control" />
                <span asp-validation-for="CreativeStartCssUri" class="text-danger"></span>
                <p class="form-text text-muted">
                    <a href="https://startbootstrap.com/template-overviews/creative/" target="_blank">Tema de inicio creativo</a>
                    se utiliza en la parte superior de Bootstrap
                </p>
            </div>

            <button type="submit" class="btn btn-primary" name="command" value="Save">Guardar</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
